<app-hero-banner></app-hero-banner>

<main role="homepage">
  <div class="container">
    <div class="row pt-5 pb-5">
      <div class="col-12">
        <p>
          We offer a bespoke planning and venue decor service to brides and grooms in County Mayo and across the west of Ireland. Whether you are having
          a large wedding, an intimate family gathering, a blessing or civil ceremony, we are here to offer you our expert advice.
        </p>
      </div>
    </div>
    <div class="row pt-5 pb-5">
      <div class="col-sm-4">Card 1 goes here</div>
      <div class="col-sm-4">Card 2 goes here</div>
      <div class="col-sm-4">Card 3 goes here</div>
    </div>
    <div class="row pt-5 pb-5">
      <div class="col-12">
        <h2>The Latest from Facebook</h2>
        <p>Content from facebook will go here.</p>
        <p>Travis deployment test hello.</p>
      </div>
    </div>
  </div>
</main>
